/*
 * Style for Preisig-Schwellbrunn website
 * Author: Luca Bosin - bosin.ch
 * 
 * This design is using the mobile first approach due to the fact that the
 * website's main purpose is to be a landing page shown after a QR code scan.
 */

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, strong, ul, li, 
figure, figcaption, footer, header, section {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 0; /* remove space between inline-block elements */
  line-height: 0; /* remove space between inline-block elements */
  color: var(--color-text);
  background-color: var(--color-background);
  white-space: nowrap; /* remove space between inline-block elements */
}
body > :is(a, footer, section) {
  font-size: 1rem;
  line-height: 1.3;
  white-space: normal;
}
.page--imprint {
  max-width: 64rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  word-break: break-word;
}
:focus:not(:focus-visible) {
  outline: none;
}

/* Text */
p {
  font-weight: 400;
}
.page--imprint p {
  margin-bottom: .75em;
}
h1, h2, h3,
strong {
  font-weight: 600;
}
h1, h2, h3 {
  margin-bottom: .5em;
}
h1 {
  font-size: 2rem;
  line-height: 1.3;
  white-space: normal;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}

/* Spacing */
.page--imprint > section {
  margin-bottom: 1.75em;
}
.page--imprint > section section,
ul {
  margin-bottom: 1.25em;
}
ul {
  padding-left: 0;
  list-style-position: inside;
}
li {
  margin-bottom: .25em;
  padding-left: 1em;
}

/* Links */
a {
  text-underline-position: under;
  text-decoration-thickness: 8;
  color: var(--color-link);
}

.webpage-link {
  color: var(--color-text);
  text-decoration: none;
  display: var(--webpage-link-display);
  height: var(--webpage-link-height);
  width: var(--webpage-link-width);
  transition: background-color .2s ease-in-out;
  padding: 1em;
  vertical-align: middle;
}

.webpage-link:first-child {
  border-bottom: var(--bottom-border);
  border-right: var(--right-border);
}

.webpage-link:hover {
  background-color: var(--color-hover-background);
  --auto-preisig-logo-filter: invert(1) hue-rotate(178deg) saturate(10);
  --walter-preisig-logo-filter: brightness(4) saturate(0.6);
  --make-logo-filter: invert(1);
}

.webpage-link figure {
  display: grid;
  grid-row-gap: 2em;
  row-gap: 2em;
  place-items: center;
  height: 100%;
  width: 100%;
}

.webpage-link figure .logo-company {
  width: 100%;
  object-fit: contain;
  align-self: end;
  transition: filter .2s ease-in-out;
}

.webpage-link--auto-preisig-ag figure .logo-company {
  height: 3em;
  filter: var(--auto-preisig-logo-filter);
}

.webpage-link--walter-preisig-autogarage-ag figure .logo-company {
  height: 5em;
  filter: var(--walter-preisig-logo-filter);
}

.webpage-link figure .logo-make {
  height: 3.5em;
  width: 100%;
  object-fit: contain;
  align-self: start;
  filter: var(--make-logo-filter);
  transition: filter .2s ease-in-out;
}

.webpage-link figure .link-caption {
  display: none;
}

footer {
  display: block;
  height: var(--footer-height);
  width: 100%;
  background-color: var(--color-footer-background);
  margin-bottom: -1px;
}

.footer-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: .5em 1em;
}

.external-link::after {
  /* rightwards arrow with hook */
  content: "\21AA";
  color: var(--color-external-link);
  border-radius: .25em;
  padding: 0 .125em;
}

/* Vertical layout (default) */
:root {
  --footer-height: 3.75em;
  --webpage-link-display: block;
  --webpage-link-width: 100%;
  --webpage-link-height: calc((100vh - var(--footer-height)) / 2);
  --bottom-border: 1px solid var(--color-line);
  --right-border: none;
}

/* Horizontal layout */
@media screen and (orientation: landscape) {
  :root {
    --webpage-link-display: inline-block;
    --webpage-link-width: calc(50% - 1px);
    --webpage-link-height: calc(100vh - var(--footer-height));
    --bottom-border: none;
    --right-border: 1px solid var(--color-line);
  }
}
/* Print layout */
@media print {
  body {
    font-size: 1rem;
    line-height: 1.3;
    white-space: normal;
  }
  .webpage-link figure .link-caption {
    display: block;
  }
}
/* Accessibility: Visible focus */
.webpage-link:focus-visible {
  background-color: var(--color-focus-background);
  border-radius: 2em;
}
.webpage-link:focus-visible,
a:focus-visible {
  outline: 2px solid var(--color-focus-outline);
  outline-offset: 2px;
}
/* Accessibility: Light theme */
:root {
  --color-text: #000;
  --color-background: #fff;
  --color-line: #c4c4c4;
  --color-footer-background: #dedede;
  --color-link: #2833d1;
  --color-external-link: #000;
  --auto-preisig-logo-filter: none;
  --walter-preisig-logo-filter: none;
  --make-logo-filter: none;
  --color-hover-background: rgb(49, 49, 146);
  --color-focus-background: rgb(255, 242, 124);
  --color-focus-outline: rgb(0, 72, 167);
}
/* Accessibility: Dark theme */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #141414;
    --color-footer-background: #0a0a0a;
    --color-line: #3c3c3c;
    --color-link: #575cbb;
    --color-external-link: #fff;
    --auto-preisig-logo-filter: invert(1) hue-rotate(178deg) saturate(10);
    --walter-preisig-logo-filter: brightness(4) saturate(0.6);
    --make-logo-filter: invert(1);
    --color-hover-background: rgb(33, 33, 85);
    --color-focus-background: rgb(59, 54, 7);
    --color-focus-outline: rgb(255, 255, 255);
  }
}
/* Accessibility: Reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* Accessibility: Forced colors theme */
@media screen and (forced-colors: active) {
  :root {
    --color-text: CanvasText;
    --color-background: Canvas;
    --color-line: GrayText;
    --color-footer-background: GrayText;
    --color-link: LinkText;
    --color-external-link: LinkText;
    --auto-preisig-logo-filter: none;
    --walter-preisig-logo-filter: none;
    --make-logo-filter: none;
    --color-hover-background: Highlight;
    --color-focus-background: Highlight;
    --color-focus-outline: Highlight;
  }
}
/* Accessibility: Prefered contrast theme */
@media screen and (prefers-contrast: more) {
  :root {
    --color-text: #000;
    --color-background: #fff;
    --color-line: #000000;
    --color-footer-background: #ffffff;
    --color-link: #000ed6;
    --color-external-link: #000;
    --auto-preisig-logo-filter: none;
    --walter-preisig-logo-filter: none;
    --make-logo-filter: none;
    --color-hover-background: rgb(35, 35, 194);
    --color-focus-background: rgb(255, 233, 34);
    --color-focus-outline: rgb(12, 115, 248);
  }
}
